
html, body {background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
h1 {color: rgb(0, 0, 0);}
h2 {color: rgb(255, 255, 255);}
p {color: rgb(0, 0, 0);}
a {color:rgb(0, 0, 0)}
*, *:before, *:after {
  box-sizing: border-box; /* Include padding and borders in the element's width */
}
.link {
  cursor: pointer; /* Change cursor to pointer when hovering over links */
}
.link img {
  cursor: pointer; /* Change cursor to pointer when hovering over linked images */
}
.rounded-logo {
  border-radius: 25px;
}
.instruction-text {
  font-size: smaller; /* Adjust the font size to make it smaller */
  /* Add any other styling as needed */
}
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* High z-index to cover other content */
}

#loading-text {
  font-size: 5em; /* Large size for the initial loading screen */
  transition: transform 1s ease-out, font-size 1s ease-out;
  font-weight: bold; /* If your logo is bold */
}

/* Hide loading screen after transition */
.loading-screen.hide {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 1s, opacity 1s ease-out; /* Delay the visibility change until after the opacity transition */
}

img {
  max-width: 100%;
  height: auto;
}
article div {
  flex-shrink: 1;
  max-width: 100%;
}

/* Style the header */
header {
  background-color: #000000;
  padding: 25px;
  text-align: left;
  font-size: 25px;
  color: white;
  height: 300px;
  width: auto;
  columns: 4;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  flex-wrap: wrap;
}

.img-container-logos {
  float: left;
  width: 25%;
  padding: 0px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;

}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  text-align: top;
  width: 40%;
  height: 350px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
  overflow-x: hidden; /* Prevent horizontal scrolling */

}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  font-size: 25px;
  align-items: center;
  list-style: none;
}

article {
  float: left;
  padding: 15px;
  width: 60%;
  background-color: #f1f1f1;
  height: 350px; /* only for demonstration, should be removed */
  overflow-y: hidden; /* Prevent horizontal scrolling */
  flex-wrap: wrap;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 120px;
  text-align: left;
  font-size: medium;
  color: white;
  overflow-x: hidden;
  height: 350px;
  columns: 5
  
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) { /* Example breakpoint for mobile devices */
  nav, article {
    height: auto; /* Let the height be determined by content size */
  }
}

